/* Latin Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Arabic Font */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body,
html,
:root {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  box-sizing: border-box;
}

:root {
  --main-yellow: #FAA32C;
  --second-yellow: #FBBC67;
  --main-purple: #5358A6;
  --second-purple: #8D58A4;
  --yellow-linear-gradient-light: linear-gradient(80deg, rgba(251, 188, 103, 1) 0%, rgba(250, 163, 44, 1) 100%);
  --yellow-linear-gradient-dark: linear-gradient(80deg, rgba(250, 163, 44, 1) 0%, rgba(251, 188, 103, 1) 100%);
  --purple-linear-gradient-light: linear-gradient(59deg, rgba(141, 88, 164, 1) 0%, rgba(83, 88, 166, 1) 100%);
  --purple-linear-gradient-dark: linear-gradient(59deg, rgba(83, 88, 166, 1) 0%, rgba(141, 88, 164, 1) 100%);
  --circleBg-color: #cceaf2;
}

body {
  background-color: white;
  min-height: 100vh;
  height: 100vh;
}

img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}


.layout .layout {
  width: fit-content;
}

.ar .row {
  flex-direction: row-reverse !important;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-width: 0;
  margin: 0 auto;
  width: 75%;
}

@media screen and (max-width: 900px) {
  .layout {
    width: 90% !important;
  }
}

.layout.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.layout.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}


.ar.row .ar .text {
  text-align: right !important;
}

.fixed_font {
  font-family: 'Source Sans 3', sans-serif !important;

}


.scrollbar-thumb {
  background: var(--purple-linear-gradient-dark) !important;
  border-radius: 0 !important;
}

.scrollbar-track-y {
  width: 6px !important;
  background-color: transparent !important;
}

/* Background Gradient linear */
.yellow-gradient-to-dark {
  background-image: var(--yellow-linear-gradient-light);
}

.yellow-gradient-to-light {
  background-image: var(--yellow-linear-gradient-dark);
}

.purple-gradient-to-dark {
  background-image: var(--purple-linear-gradient-light);
}

.purple-gradient-to-light {
  background-image: var(--purple-linear-gradient-dark);
}


.languagesContainer {
  opacity: 0;
  height: 0;
  width: 0;
  transition: .5s height, .5s width, .7s opacity;
}


.languagesContainer.active {
  height: auto !important;
  width: 180px !important;
  opacity: 1 !important;
}

.languagesContainer.active .languagesContent {
  opacity: 1;
  display: flex;
}

.nav_menu.active {
  right: 0px;
  opacity: 1;
}

.languagesContent {
  opacity: 0;
  display: none;
}




.nav_menu {
  top: 0;
  right: -800px;
  opacity: 0;
  transition: all .5s;
}



.nav_menu_shadow {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}